*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #16274f;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #0b1120;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #00f7ff;
    font-weight: 500;
}
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #00f7ff;
    margin-bottom: 20px;
    transition: 0.3s;
    background: #1e293b;
    border: 1px solid #00f7ff;
}

.profile-img:hover {
    transform: scale(1.05);
}
header {
    text-align: center;
    padding: 100px 20px;
}

header h1 {
    font-size: 40px;
}

header p {
    margin: 15px 0;
    color: #94a3b8;
}

.btn {
    padding: 10px 20px;
    background: #00f7ff;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

section {
    padding: 60px 40px;
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background: #1e293b;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #00f7ff;
}

.project-card {
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
     border: 1px solid #00f7ff;
    width: 80%;
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
    border: 1px solid #00f7ff;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0b1120;
    color: #94a3b8;

}
